{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
		<div class="background-media skrollable skrollable-between" data-start="background-position: 50% 10px" data-0-top-bottom="background-position: 50% -12px"></div>
		<div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,0.5);"></div>
		<div class="container">
			<div class="row vertical-default">
				<div class="col-md-12  text-default small-screen-default">
					<div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFFF">
						<div class="visible-xs" style="height:10px;"></div>
						<div class="visible-sm" style="height:10px;"></div>
						<div class="visible-md" style="height:10px;"></div>
						<div class="visible-lg" style="height:10px;"></div>
					</div>
					<div class="row main-adv">
						<div class="col-md-3  text-center small-screen-default">
							<div class="figure element-top-20 element-bottom-20  " data-os-animation="none" data-os-animation-delay="0s">
								<a href="" class="figure-image magnific" target="_self">
									<img width="128" height="128" src="/assets/images/home/euro.png" class="attachment-full size-full" alt="">
								</a>
							</div>
							<div class="col-text-1 text-light  element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
								<p>Devis gratuit</p>
							</div>
						</div>
						<div class="col-md-3  text-center small-screen-default">
							<div class="figure element-top-20 element-bottom-20  " data-os-animation="none" data-os-animation-delay="0s">
								<a href="" class="figure-image magnific" target="_self">
									<img width="128" height="128" src="/assets/images/home/auto2.png" class="attachment-full size-full" alt="">
								</a>
							</div>
							<div class="col-text-1 text-light  element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
								<p>Départ chez le client
									<br>
									sur Amiens et alentours</p>
							</div>
						</div>
						<div class="col-md-3  text-center small-screen-default">
							<div class="figure element-top-20 element-bottom-20  " data-os-animation="none" data-os-animation-delay="0s">
								<a href="" class="figure-image magnific" target="_self">
									<img width="128" height="128" src="/assets/images/home/clock.jpg" class="attachment-full size-full" alt="">
								</a>
							</div>
							<div class="col-text-1 text-light  element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
								<p>Réparation rapide</p>
							</div>
						</div>
						<div class="col-md-3  text-center small-screen-default">
							<div class="figure element-top-20 element-bottom-20  " data-os-animation="none" data-os-animation-delay="0s">
								<a href="" class="figure-image magnific" target="_self">
									<img width="128" height="128" src="/assets/images/home/line-chart.png" class="attachment-full size-full" alt="">
								</a>
							</div>
							<div class="col-text-1 text-light  element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
								<p>Experience<br>
									plus de 15 ans</p>
							</div>
						</div>
					</div>
					<div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFFF">
						<div class="visible-xs" style="height:7px;"></div>
						<div class="visible-sm" style="height:7px;"></div>
						<div class="visible-md" style="height:7px;"></div>
						<div class="visible-lg" style="height:7px;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">

		<div class="background-overlay grid-overlay-0 " style="background-color: rgba(246,246,246,1);"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-6 corp-img text-center">
					<div class="figure">
						<a href="/promavtomatika/" class="figure-image">
							<img class="image-service" width="1024" height="482" alt="" src="https://helpit-lab.ru/wp-content/uploads/2020/02/usl4.jpg">
						</a>
					</div>
				</div>
				<div class="col-md-6 corp-img text-center">
					<div class="figure">
						<a href="/computer/" class="figure-image">
							<img class="image-service" width="1024" height="482" src="https://helpit-lab.ru/wp-content/uploads/2020/02/usl2.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="multiple-items">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
	</div>


	{# <div class="vc_row-full-width vc_clearfix"></div>

	<div class="vc_row wpb_row vc_row-fluid">
		<div class="wpb_column vc_column_container vc_col-sm-12">
			<div class="vc_column-inner">
				<div class="wpb_wrapper">
					<div class="row category-carousel slick-initialized slick-slider slick-dotted">

						<div class="slick-list draggable">
							<div class="slick-track" style="opacity: 1; width: 4676px; transform: translate3d(-2004px, 0px, 0px); transition: transform 500ms ease 0s;">
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control24" data-slick-index="-2" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i1.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-05.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех моделей Iphone. Мы используем только оригинальные запчасти Apple. Мы никогда не будем устанавливать в ваш Iphone запасные части.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Ipone</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control25" data-slick-index="-1" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i0.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-06.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех видов смартфонов. Мы используем только оригинальные запчасти. Мы никогда не будем устанавливать в ваш продукт запасные части</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/#" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Смартфон</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide" style="width: 334px;" tabindex="-1" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" data-slick-index="0" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i2.wp.com/cm-repair.ru/wp-content/uploads/2018/09/category-img-01.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех видов продуктов Apple, включая MacBook, iMac, Mac Pro, Macbook retina и Mac Mini. Мы используем только оригинальные запчасти Apple. Мы никогда не будем устанавливать в ваш продукт Mac запасные части.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Apple и<br>
														Mac</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide" style="width: 334px;" tabindex="-1" role="tabpanel" id="slick-slide21" aria-describedby="slick-slide-control21" data-slick-index="1" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i2.wp.com/cm-repair.ru/wp-content/uploads/2018/09/category-img-02.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Мы обслуживаем все марки и модели компьютеров. Большинство компьютеров ремонтируются в тот же день с помощью запчастей, имеющихся на складе. Мы обслуживаем все модели, включая: HP, Apple, Acer, Lenovo/IBM, Dell, Samsung, Gateway, Asus, Alienware и многое другое…</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/pc-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														ПК и Компьютер</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide" style="width: 334px;" tabindex="0" role="tabpanel" id="slick-slide22" aria-describedby="slick-slide-control21" data-slick-index="2" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i1.wp.com/cm-repair.ru/wp-content/uploads/2018/09/category-img-03.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Пока вы ждете или обслуживаете в тот же день, если вы решите не продолжать ремонт своего ноутбука, мы заплатим вам наличными за его покупку и вернем ваш жесткий диск или передадим данные для вас.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/laptop-repair/" rel="" class="btn btn-sm" tabindex="0">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Ноутбук</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide" style="width: 334px;" tabindex="0" role="tabpanel" id="slick-slide23" aria-describedby="slick-slide-control23" data-slick-index="3" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i0.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-04.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех видов продуктов Apple, включая MacBook, iMac, Mac Pro, Macbook retina и Mac Mini. Мы используем только оригинальные запчасти Apple. Мы никогда не будем устанавливать в ваш продукт Mac запасные части.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/" rel="" class="btn btn-sm" tabindex="0">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top right">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														MacBook и iMac</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-current slick-active" style="width: 334px;" tabindex="-1" role="tabpanel" id="slick-slide24" aria-describedby="slick-slide-control22" data-slick-index="4" aria-hidden="false">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i1.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-05.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех моделей Iphone. Мы используем только оригинальные запчасти Apple. Мы никогда не будем устанавливать в ваш Iphone запасные части.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Ipone</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-active" style="width: 334px;" tabindex="-1" role="tabpanel" id="slick-slide25" aria-describedby="slick-slide-control25" data-slick-index="5" aria-hidden="false">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i0.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-06.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех видов смартфонов. Мы используем только оригинальные запчасти. Мы никогда не будем устанавливать в ваш продукт запасные части</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/#" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Смартфон</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control20" data-slick-index="6" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i2.wp.com/cm-repair.ru/wp-content/uploads/2018/09/category-img-01.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех видов продуктов Apple, включая MacBook, iMac, Mac Pro, Macbook retina и Mac Mini. Мы используем только оригинальные запчасти Apple. Мы никогда не будем устанавливать в ваш продукт Mac запасные части.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Apple и<br>
														Mac</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control21" data-slick-index="7" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i2.wp.com/cm-repair.ru/wp-content/uploads/2018/09/category-img-02.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Мы обслуживаем все марки и модели компьютеров. Большинство компьютеров ремонтируются в тот же день с помощью запчастей, имеющихся на складе. Мы обслуживаем все модели, включая: HP, Apple, Acer, Lenovo/IBM, Dell, Samsung, Gateway, Asus, Alienware и многое другое…</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/pc-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														ПК и Компьютер</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control22" data-slick-index="8" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i1.wp.com/cm-repair.ru/wp-content/uploads/2018/09/category-img-03.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Пока вы ждете или обслуживаете в тот же день, если вы решите не продолжать ремонт своего ноутбука, мы заплатим вам наличными за его покупку и вернем ваш жесткий диск или передадим данные для вас.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/laptop-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Ноутбук</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control23" data-slick-index="9" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i0.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-04.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех видов продуктов Apple, включая MacBook, iMac, Mac Pro, Macbook retina и Mac Mini. Мы используем только оригинальные запчасти Apple. Мы никогда не будем устанавливать в ваш продукт Mac запасные части.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top right">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														MacBook и iMac</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control24" data-slick-index="10" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i1.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-05.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех моделей Iphone. Мы используем только оригинальные запчасти Apple. Мы никогда не будем устанавливать в ваш Iphone запасные части.</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Ipone</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 slick-slide slick-cloned" style="width: 334px;" tabindex="-1" role="tabpanel" id="" aria-describedby="slick-slide-control25" data-slick-index="11" aria-hidden="true">
									<div class="category-block animation no-animate" data-animation="zoomIn" data-animation-delay="0s">
										<div class="image">
											<img alt="Дополнительная информация" src="https://i0.wp.com/cm-repair.ru/wp-content/uploads/2017/03/category-img-06.jpg?fit=370%2C371&amp;ssl=1">
										</div>
										<div class="image_hover light">
											<div class="vert-wrap">
												<div class="vert">
													<p>
														Computer Repair специализируется на ремонте всех видов смартфонов. Мы используем только оригинальные запчасти. Мы никогда не будем устанавливать в ваш продукт запасные части</p>
													<p>
														<a href="https://cm-repair.ru/computer-services/mac-repair/#" rel="" class="btn btn-sm" tabindex="-1">Дополнительная информация</a>
													</p>
												</div>
											</div>
										</div>
										<div class="caption top">
											<div class="vert-wrap">
												<div class="vert">
													<h3 class="name ">
														Смартфон</h3>
													<p class="">Ремонт</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<ul class="slick-dots" style="" role="tablist">
							<li class="" role="presentation">
								<button type="button" role="tab" id="slick-slide-control20" aria-controls="slick-slide20" aria-label="1 of 3" tabindex="-1">1</button>
							</li>
							<li role="presentation" class="">
								<button type="button" role="tab" id="slick-slide-control21" aria-controls="slick-slide22" aria-label="2 of 3" tabindex="-1">2</button>
							</li>
							<li role="presentation" class="slick-active">
								<button type="button" role="tab" id="slick-slide-control22" aria-controls="slick-slide24" aria-label="3 of 3" tabindex="0" aria-selected="true">3</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> #}

	{# <div class="slider"> #}
		{# <article class="results_product_item product-card mb-4" style="background-color: #989100; border-radius: 10px; height: 190px">
			<div class="d-flex flex-wrap justify-content-center" style="border-radius: 10px">
				<a class="results_product_item_image_container" title="Voir les détails de produit">
					<img src="/assets/images/home/category1.webp" 
					class="img-fluid results_product_item_image lazyload" 
					style="filter: brightness(40%); height: 120px; border-radius: 5px">
				</a>
			</div>
		</article>
		<article class="results_product_item product-card mb-4" style="background-color: #989100; border-radius: 10px; height: 190px">
			<div class="d-flex flex-wrap justify-content-center" style="border-radius: 10px">
				<a class="results_product_item_image_container"  title="Voir les détails de produit">
					<img src="/assets/images/home/category1.webp" 
					class="img-fluid results_product_item_image lazyload" 
					style="filter: brightness(40%); height: 120px; border-radius: 5px">
				</a>
			</div>
		</article>
		<article class="results_product_item product-card mb-4" style="background-color: #989100; border-radius: 10px; height: 190px">
			<div class="d-flex flex-wrap justify-content-center" style="border-radius: 10px">
				<a class="results_product_item_image_container"  title="Voir les détails de produit">
					<img src="/assets/images/home/category1.webp" 
					class="img-fluid results_product_item_image lazyload" 
					style="filter: brightness(40%); height: 120px; border-radius: 5px">
				</a>
			</div>
		</article>
		<article class="results_product_item product-card mb-4" style="background-color: #989100; border-radius: 10px; height: 190px">
			<div class="d-flex flex-wrap justify-content-center" style="border-radius: 10px">
				<a class="results_product_item_image_container" title="Voir les détails de produit">
					<img src="/assets/images/home/category1.webp" 
					class="img-fluid results_product_item_image lazyload" 
					style="filter: brightness(40%); height: 120px; border-radius: 5px">
				</a>
			</div>
		</article> #}
	{# </div> #}
{% endblock %}
